<header class="flex justify-between items-center p-8 bg-teal-400 shadow-md">
  <div class="flex space-x-6">
    <a routerLink="/doctors" class="text-white hover:underline font-medium text-xl">Doctores</a>
    <a routerLink="/appointments" class="text-white hover:underline font-medium text-xl">Citas</a>
  </div>
  <h1 class="text-2xl text-center font-bold">
    <a routerLink="" class="text-6xl text-white">MediLink Clinic</a>
  </h1>
  <button
    routerLink="/admin"
    class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-teal-300 hover:text-black transition"
  >
    Soy Administrador
  </button>
</header>
